.container-fluid {
    padding-right: 45px;
    padding-left: 45px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-fixed-bottom {
    background-color: #222;
    border-color: #080808;
}

.navbar-fixed-bottom h6 {
    color: #9d9d9d;
    text-align: center;
}

/* Home-About Page Formatting */

.panel {
    margin-top: 85px;
}

li {
    display: inline;
}

.img-responsive {
    margin: 0 auto;
}

a:link {
    text-decoration: none;
}

/* Contact Page Formatting */

form {
    margin-top: 20px;
}


/* Portfolio Page Formatting */

.portfolio {
    margin-top: 40px;
}

.thumbnail {
    background-color: transparent;
    border: none;
}