.container-fluid {
    padding-right: 45px;
    padding-left: 45px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-fixed-bottom {
    background-color: #222;
    border-color: #080808;
}

.navbar-fixed-bottom h6 {
    color: #9d9d9d;
    text-align: center;
}

.thumbnail {
    border: none;
}

.panel {
    margin-top: 85px;
}

li {
    display: inline;
}

img {
    margin: 7px;
}

a:link {
    text-decoration: none;
}